//- ВНИМАНИЕ! Этот файл генерируется автоматически. Не пишите сюда ничего вручную!
//- Читайте ./README.md для понимания.

include ../../blocks/header/header.pug
include ../../blocks/list-service/list-service.pug
include ../../blocks/list-testimonials/list-testimonials.pug
include ../../blocks/footer/footer.pug
